[Desktop Entry]
Name=APPLICATION_NAME
Comment=APPLICATION_DESCRIPTION
Exec=APPLICATION_LAUNCHER %U
Icon=omnisign
Terminal=false
Type=Application
Categories=DEPLOY_BUNDLE_CATEGORY
StartupWMClass=OmniSign
StartupNotify=true
DESKTOP_MIMES
